/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; 
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #a0a0a0;
  text-decoration: inherit;
}
a:hover {
  color: #d4e6d7;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes slideDown { from { transform: translateY(-30px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }
.animate-fadeIn { animation: fadeIn 0.3s ease-in-out; }
.animate-slideDown { animation: slideDown 0.3s ease-in-out; }

/* ----------------------------- */
/* BOTONES CUADRADOS (ICONOS)    */
/* ----------------------------- */
.button-square {
  border-radius: 8px;
  border: 1px solid #626762; /* ink */
  padding: 0.6em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button-square svg {
  transition: stroke 0.25s ease;
}

/* View */
.view-btn {
  background-color: #d4e6d7; /* mist */
}
.view-btn svg { stroke: #343b45; } /* dark */
.view-btn:hover {
  background-color: #b4debf; /* mint */
  border-color: #343b45;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(52,59,69,0.15);
}

/* Edit */
.edit-btn {
  background-color: #b4debf; /* mint */
}
.edit-btn svg { stroke: #343b45; }
.edit-btn:hover {
  background-color: #d4e6d7;
  border-color: #343b45;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(52,59,69,0.15);
}

/* Delete */
.delete-btn {
  background-color: #ef4444; /* rojo */
  border-color: #343b45;
}
.delete-btn svg { stroke: #ffffff; }
.delete-btn:hover {
  background-color: #ff6b6b;
  border-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255,0,0,0.15);
}


/* ----------------------------- */
/* BOTONES RECTANGULARES (CANCELAR / GUARDAR) */
/* ----------------------------- */
.btn-cancel,
.btn-save,
.btn-deletetext,
.btn-edittext {
  border-radius: 8px;
  border: 1px solid #343b45;
  padding: 0.8em 2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

/* Cancelar */
.btn-cancel {
  background-color: #3a4c4f; /* ink */
  color: #ffffff;
}
.btn-cancel:hover {
  background-color: #ff5b5b; /* mint */
  border-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255,0.15);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Guardar */
.btn-save {
  background-color: #3a4c4f; /* mist */
  color: #ffffff;
}
.btn-save:hover {
  background-color: #6499e3; /* mint */
  border-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(52,59,69,0.15);
}

/* Eliminar */
.btn-deletetext {
  background-color: #ff5b5b; /* ink */
  color: #ffffff;
}
.btn-deletetext:hover {
  background-color: #750000; /* mint */
  border-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255,0.15);
}

/* editar */
/* .btn-editt */

